<!doctype html>
<html>
<head>
  <title>Docker Vue</title>
  <link rel="stylesheet" href="index.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div id="main">
    <h1>Docker Vue</h1>
    <div id="images">
      <image-table v-bind:images='items'></image-table>
      <table>
        <thead>
          <tr>
            <th>Image Name</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='item in items' >
            <td v-if="!item.showdetail" v-bind:title="item.clippy">{{ item.name }}</td>
            <td v-for='tag in item.tags' v-if="item.showdetail"><div v-if='tag.showdetail'>{{ tag.name }}</div></td>
            <td><button v-for='tag in item.tags' v-on:click='imagebutontoggle'>{{ tag.name }}</button></td>
            <!-- <td> <button v-on:click="">Get Image</button> </td> -->
          </tr>
          <!-- <image-item 
            v-for="item in items"
            v-bind:imagename="item"
            v-bind:key="item.id">
          </image-item> -->
        </tbody>
      </table>
    </div>

    <script src="index.js"></script>

    <p align=right><a href="https://complexity.duckdns.org/registry">Complexity</a></p>
  </div>
</body>
</html>
